header {
    height: 100vh;
    margin: 0;
}

.boas-vindas {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 2rem;
    font-family: 'Fredoka One', cursive;
    color: #FFB200;
}

.boas-vindas > h1 > span {
    color: #fff;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;   
    margin-bottom: 40px;
}

.opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    margin: 0 2%;
}

.opcoes > div {
    display: inline-block;
    margin: 0 auto;
}

.opcoes > div > a {
    text-decoration: none;
    color: black;   
}

.opcoes > div > a > img {
    border-radius: 20px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.315) 2px 5px 5px;
    filter: brightness(90%);
}

.opcoes > div > a > img:hover {
    filter: brightness(115%);
    transition: 0.3s;
}

.opcoes > div > a > p {
    margin-top: 7px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #000000;
}


@media screen and (max-width: 1140px) {
    .opcoes > div > a > p {
        font-size: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width: 1000px) {
    .opcoes > div > a > p {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 900px) {
    header {
        height: auto;
    }

    .boas-vindas{
        display: none;
    }

    .opcoes {
        display: flex;
        flex-wrap: wrap;
    }

    .opcoes > div {
        flex-basis: 50%;
        text-align: center;
        margin-top: 10%;
    }
    
    .opcoes > div > a > img {
        height: 200px;
        width: 200px;
        border-radius: 50% ;
        font-size: 1rem;
    }
    
}