ul{
    padding: 0;
    margin-bottom: 0;
}

main {
    min-height: auto;
    padding: 50px;
}

body {
    font-size: 1.8rem;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.enviar {
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 5px;
}

.form-control, .form-select{
    font-size: 1.6rem;
}

.btn{
    font-size: 1.6rem;
}

label{
    font-size: 1.6rem;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form{
    width: 50%;
}

